/**
 * Colors by name
 */
$grey-white  : #ecf0f1;
$grey-medium : #34495e;
$grey-dark   : #2c3e50;
$blue        : #2c3e50;
$red         : #7f8c8d;
$green       : #8e44ad;

/**
 * Colors by use
 */
$color-primary   : $blue;
$color-secondary : $green;
$color-splash    : $red;
$color-text      : $grey-medium;
