#content,
.app__wrapper,
.nav__wrapper,
.content__wrapper,
.sidebar__wrapper,
.messages__wrapper {
  display: flex;
}
#content,
.app__wrapper {
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.nav__wrapper {
  height: 2rem;
}
.content__wrapper {
  flex-flow: row;
  flex: 1;
}
.sidebar__wrapper {
  width: 4rem;
  background: $grey-dark;
}
.messages__wrapper {
  width: 100%;
  flex-flow: column;
  padding: 1rem;
}
.messages__wrapper > .messages__list {
  height: auto;
  max-height: 100%;
  flex: 1;
}
.messages__wrapper > .message__input {
  min-height: 4rem;
}
