@import url('http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro');


html, body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

pre, code {
  font-family: 'Source Code Pro', monospaced;
}

p {
  line-height: 1.5rem;
}
