.sidebar__wrapper {
  display: flex;
  width: 18rem;

  .services__wrapper {
    background: $grey-dark;
    display: flex;
    width: 4rem;
  }
  .channels__wrapper {
    background: lighten($grey-dark, 5%);
    display: flex;
    width: 14rem;
  }
}
