@import '../styles/resets';
@import '../styles/colors';
@import '../styles/typography';

// Layout
#content,
.app__wrapper,
.content__wrapper {
  display: flex;
}

#content,
.app__wrapper {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content__wrapper {
  flex-flow: row;
  flex: 1;
}

/* Do not remove this comments below.
   It's the markers used by gulp-inject to inject
   all your sass files automatically */
// inject:scss
// endinject
//
