.messages__wrapper {
  display: flex;
  width: 100%;
  flex-flow: column;
  padding: 1rem;

  > .messages__list {
    height: auto;
    max-height: 100%;
    flex: 1;
  }

  > .message__input {
    min-height: 4rem;
  }
}
